USE [master]
GO
/****** Object:  Database [KinoplexDB]    Script Date: 21/10/2019 08:39:37 p. m. ******/
CREATE DATABASE [KinoplexDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KinoplexDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\KinoplexDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KinoplexDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\KinoplexDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KinoplexDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KinoplexDB]
GO
/****** Object:  Table [dbo].[Peliculas]    Script Date: 21/10/2019 08:39:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Peliculas](
	[nombre] [varchar](50) NOT NULL,
	[año] [int] NOT NULL,
	[director] [varchar](50) NOT NULL,
	[genero] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Videojuegos]    Script Date: 21/10/2019 08:39:37 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Videojuegos](
	[nombre] [varchar](50) NOT NULL,
	[año] [int] NOT NULL,
	[desarrollador] [varchar](50) NOT NULL,
	[genero] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
