USE [master]
GO
/****** Object:  Database [PicturesDB]    Script Date: 28/10/2019 07:15:55 p. m. ******/
CREATE DATABASE [PicturesDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PicturesDB', FILENAME = N'D:\Gaymes\MSSQL14.SQLEXPRESS\MSSQL\DATA\PicturesDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PicturesDB_log', FILENAME = N'D:\Gaymes\MSSQL14.SQLEXPRESS\MSSQL\DATA\PicturesDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PicturesDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PicturesDB]
GO
/****** Object:  Table [dbo].[pictures]    Script Date: 28/10/2019 07:15:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pictures](
	[id] [varchar](50) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[Categoria] [varchar](50) NOT NULL,
	[Imagen] [image] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
